## pirmi žingsniai

In [1]:
print("labas!")

labas!

In [2]:
skaicius1 = 5.0
type(skaicius1)

float

In [8]:
vardas = "Studentas"
type(vardas)

str

In [12]:
skaicius2 = 2
type(skaicius2)

int

In [13]:
skaicius1 + skaicius2

7.0

In [14]:
vardas + str(skaicius2)

'Studentas2'

In [15]:
str(skaicius1) + str(skaicius2)

'5.02'

In [23]:
# normali dalyba
5 / 3

1.6666666666666667

In [24]:
# dalyba be liekanso
5 // 3

1

In [25]:
# liekana
5 % 3

2

In [92]:
# _1skaicius = 1
_vardas = "kitas Studentas"
print(vardas, ",\n", _vardas, sep="...", end="")
Vardas = "sTuDeNtAs" # prašom nevadinti kintamųjų iš didžiųjų raidžių
print(",\nir dar vienas", Vardas, sep=" ")

Studentas...,
...kitas Studentas,
ir dar vienas sTuDeNtAs

In [94]:
sudetingas_kintamasis = "teksto gabaliukas"
# SudetingasKintamasis = "blogai"
# sudetingasKintamasis = "blogai"

### skaitliukas

In [105]:
skaitliukas = 0
skaitliukas

0

In [119]:
skaitliukas += 1
skaitliukas

55

In [117]:
skaitliukas -= 1
skaitliukas

27

In [118]:
skaitliukas *= 2
skaitliukas

54

### kėlimas laipsniu

In [121]:
skaicius = 2
laipsnis = 3
skaicius ** laipsnis

8

In [124]:
4 ** 4

256

In [125]:
skaicius ** 5

32

## simbolių eilutės

In [127]:
vardas = 'Studentas'
vardas

'Studentas'

In [138]:
print(vardas[0])
vardas[0]

S

'S'

In [131]:
vardas[4]

'e'

In [132]:
vardas[-1]

's'

In [134]:
print(vardas[-3])

t

In [135]:
str(0)

'0'

In [136]:
0

0

In [137]:
print(str(0))

0

In [139]:
zodis = "Code Academy"
print(zodis)

Code Academy

In [140]:
zodis[4]

' '

In [142]:
zodis[:4]

'Code'

In [144]:
zodis[5:]

'Academy'

In [145]:
zodis[2:7]

'de Ac'

In [147]:
zodis[::2]

'Cd cdm'

In [149]:
print(zodis[::2])
print(zodis[1::2])

Cd cdm
oeAaey

In [150]:
zodis[:-5]

'Code Ac'

In [151]:
zodis[::-1]

'ymedacA edoC'

In [152]:
zodis.split()

['Code', 'Academy']

In [153]:
zodis.split('e')

['Cod', ' Acad', 'my']

In [154]:
zodis.upper()

'CODE ACADEMY'

In [155]:
zodis.lower()

'code academy'

In [156]:
zodis.replace('c', 'k')

'Code Akademy'

In [157]:
zodis.replace('Code', 'Fun')

'Fun Academy'

In [158]:
hasattr(zodis, 'join')

True

In [160]:
hasattr(zodis, 'koksnors')

False

In [181]:
suo = "grazuolį šunelį su pavadėliu"

In [182]:
sakinys = vardas + " ir " + _vardas + ". skaitliukas: " + str(skaitliukas) + ". 2+2=" + str(2+2)
f_sakinys = f"{vardas} ir {_vardas}. skaitliukas: {skaitliukas}. 2+2={2+2}"
s_sakinys = "%s ir %s. skaitliukas: %d, 2+2=%d" % (vardas, _vardas, skaitliukas, 2+2)
u_sakinys = "{} ir {}. skaitliukas: {}, 2+2={}".format(vardas, _vardas, skaitliukas, 2+2)
x_sakinys = "{zmogus}, {zmogus} ir {zmogus} baigia darbą, ir eina {veiksmas} {gyvunas}".format(zmogus=vardas, veiksmas="vedzioti", gyvunas=suo)
print(sakinys, f_sakinys, s_sakinys, u_sakinys, x_sakinys, sep="\n")

Studentas ir kitas Studentas. skaitliukas: 55. 2+2=4
Studentas ir kitas Studentas. skaitliukas: 55. 2+2=4
Studentas ir kitas Studentas. skaitliukas: 55, 2+2=4
Studentas ir kitas Studentas. skaitliukas: 55, 2+2=4
Studentas, Studentas ir Studentas baigia darbą, ir eina vedzioti grazuolį šunelį su pavadėliu

## logika

In [1]:
2 + 2 == 4

True

In [2]:
1 > 0

True

In [4]:
100 / 10 <= 10

True

In [5]:
2 + 2 != 5

True

In [6]:
5 != 5

False

In [7]:
True or False

True

In [8]:
True and False

False

In [11]:
# operatoriui and abi sąlygos turi būti tiesą, kad grąžintų tiesą
50 / 2 > 20 and 50 / 2 < 30

True

In [12]:
50 / 2 > 20 and 50 / 2 > 30

False

In [13]:
# operatoriui or bent viena iš sąlygų turi būti tiesa
50 / 2 > 20 or 50 / 2 > 30

True

## sąlygos

In [25]:
skaicius = 0
if skaicius > 0:
    print(f"skaičius {skaicius} yra teigiamas.")
elif skaicius == 0:
    print("skaičius yra nulis.")
else:
    print(f"skaičius {skaicius} yra neigiamas.")

skaičius yra nulis.

In [30]:
skaicius = 200
if skaicius > 100:
    print(f"skaičius {skaicius} yra daugiau už 100.")
    print(f"labai didelis skaičius...")
if skaicius > 10:
    print(f"skaičius {skaicius} yra daugiau už 10.")
if skaicius < 10:
    print(f"skaičius {skaicius} yra mažiau už 10.")

skaičius 200 yra daugiau už 100.
labai didelis skaičius...
skaičius 200 yra daugiau už 10.

In [34]:
skaicius = 110
if skaicius < 100:
    print(f"skaičius {skaicius} yra mažiau už 100.")
    if skaicius > 10:
        print(f"skaičius {skaicius} yra tarp 10 ir 100.")
else:
    print(f"skaičius {skaicius} yra didesnis arba lygus 100.")

skaičius 110 yra didesnis arba lygus 100.